<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <center><h1>Welcome To YourBlog</h1></center>
    <div class="container">
        <button>
                <a href="/create">Post Create</a>
        </button>
        <button>
                <a href="/view">Post Viewing</a>
        </button>
        <button>
                <a href="/update">Post Update/Delete</a>
        </button>
    </div>

    <div class="container2">
        <%- include ("partials/footer.ejs")%>
       </div>

</body>
</html>